<!DOCTYPE html>
<html>
  <%- include('./partials/head',{
    title : 'Home'
  }) %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <section>
        <div class="intro">
          <img claas="intro-image" src="/images/products/taza-azul.png" alt="taza azul" width="30%">
          <div class="intro-text">
            <div class="intro-logo">
              <a href="/">
                Ponucha
              </a>
            </div>
            <div class="intro-legend">Cerámicas hechas con amor</div>
          </div>
        </div>
      </section>
      <section id="comissions">
        <div class="comissions-box">
          <div class="comissions-box--title">Personalizá tu diseño con <p>amor</p></div>
          <div class="comissions-box--premise"><div>¡Abrimos nuestro servicio de comisiones!</div><div>¿Querés que tu vajilla tenga un diseño único?</div></div>
          <div class="comissions-box--button">
            <p><a href="https://wa.me/1126967301">¡Escribinos!</p></a>
          </div>
        </div>
        </div>
      </section>
      <section id="type-product-1">
              <div class="container mx-auto px-4 py-10">
               <div class="type-product-name">Platos</div>
          <div class="relative overflow-hidden">
              <div class="div-card-index flex space-x-10 transition-transform duration-300 ease-in-out" id="carousel">
                  <div class="custom-card shadow-lg rounded-lg p-8 w-80">
                      <a href="/products/detail"><img src="/images/products/plato-1.png" alt="Producto 1" class="w-full h-80 object-cover rounded-lg"></a>
                      <h2 class="mt-2 font-bold text-lg">Reunión Primaveral</h2>
                      <p class="text-gray-700">$19.99</p>
                  </div>
                  <div class="custom-card shadow-lg rounded-lg p-8 w-80">
                      <img src="/images/products/plato-2.png" alt="Producto 2" class="w-full h-80 object-cover rounded-lg">
                      <h2 class="mt-2 font-bold text-lg">Flora Dorada</h2>
                      <p class="text-gray-700">$29.99</p>
                  </div>
                  <div class="custom-card shadow-lg rounded-lg p-8 w-80">
                      <img src="/images/products/plato-3.png" alt="Producto 3" class="w-full h-80 object-cover rounded-lg">
                      <h2 class="mt-2 font-bold text-lg">Tulipanes Nacientes</h2>
                      <p class="text-gray-700">$39.99</p>
                  </div>
              </div>
          </div>
          <div class="flex justify-between mt-4">
              <button onclick="mover(-1)" class="bg-gray-700 text-white px-4 py-2 rounded-lg">←</button>
              <button onclick="mover(1)" class="bg-gray-700 text-white px-4 py-2 rounded-lg">→</button>
          </div>
      </div>
      </section>
      <section id="type-product-2">
        <div class="container-index-cup container mx-auto px-4 py-10">
               <div class="type-product-name">Tazas</div>
        <div class="relative overflow-hidden">
              <div class="div-card-index flex space-x-10 transition-transform duration-300 ease-in-out" id="carousel">
                  <div class="custom-card shadow-lg rounded-lg p-8 w-80">
                      <img src="/images/products/taza-1.png" alt="Producto 1" class="w-full h-80 object-cover rounded-lg">
                      <h2 class="mt-2 font-bold text-lg">Reunión Primaveral</h2>
                      <p class="text-gray-700">$19.99</p>
                  </div>
                  <div class="custom-card shadow-lg rounded-lg p-8 w-80">
                      <img src="/images/products/taza-2.png" alt="Producto 2" class="w-full h-80 object-cover rounded-lg">
                      <h2 class="mt-2 font-bold text-lg">Flora Dorada</h2>
                      <p class="text-gray-700">$29.99</p>
                  </div>
                  <div class="custom-card shadow-lg rounded-lg p-8 w-80">
                      <img src="/images/products/taza-3.png" alt="Producto 3" class="w-full h-80 object-cover rounded-lg">
                      <h2 class="mt-2 font-bold text-lg">Tulipanes Nacientes</h2>
                      <p class="text-gray-700">$39.99</p>
                  </div>
              </div>
        
      </section>
    </main>
    
    <%- include('./partials/footer') %>
  </body>
</html>