<header>
    <div class="header--container">
        <div class="header--user">
        <li><a href="/users/login">Iniciar Sesión</a></li>
        <li><p>|</p></li>
        <li><a href="/users/register">Registrarse</a></li>
            </div>
        <div>
            <a href="/" class="header--logo">
                Ponucha
            </a>
        </div>
        <nav class="header--nav-desktop">
            <div>
                <li><a href="/#comissions">Personalizado</a></li>
                <li><a href="/#type-product-1">Platos</a></li>
                <li><a href="/#type-product-2">Tazas</a></li>
                <li><a href="/products/create" class="href">Crear un Producto</a></li>
                <li><a href="/products/cart" class="href"><div class="header-cart">
                    <i class="fa-solid fa-cart-shopping"></i></div></a>
                </li>
            </div>
        </nav>
    </div>
</header>