<header>
    <div class="header--container">
        <div>
            <a href="/" class="header--logo">
                Ponucha
            </a>
        </div>
        <nav class="header--nav-desktop">
            <div>
                <li><a href="/">Home</a></li>
                <li><a href="/product">Detalle de Producto</a></li>
                <li><a href="/login">Formulario de Logueo</a></li>
                <li><a href="/register">Formulario de Registro</a></li>
            </div>
        </nav>
    </div>
</header>