<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{
        title : 'Home'
      }) %>
        <%- include('../partials/header') %>
<body>
    <main>
        <div class="form-container">
            <div class="nav-menu">
            <div class="login-premise">
                <p class="premise">¡Crea un producto!</p>
            </div>
        </div>            
        <div class="login-form">
                <h4 class="login-title">Producto</h4>
                <!-- Formulario para logearse -->
                <form class="access-form" method="POST">
                    <!-- input Nombre -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del Producto"/>
                        <p class="form-text alert-hide">Obligatorio</p>
                    </div>
                    <!-- input Descripcion -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="Descripción del Producto"/>
                        <p class="form-text alert-hide">Obligatorio</p>
                    </div>
                    <!-- input Imágen -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Imágen</label>
                        <input type="text" class="form-control" id="image" name="image" placeholder="Imágen del Producto"/>
                        <p class="form-text alert-hide">Obligatorio</p>
                    </div>
                    <!-- input Categoría -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Categoría</label>
                        <input type="text" class="form-control" id="category" name="category" placeholder="Categoría del Producto"/>
                        <p class="form-text alert-hide">Obligatorio</p>
                    </div>
                    <!-- input Colores -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Colores</label>
                        <input type="text" class="form-control" id="color" name="color" placeholder="Color del Producto"/>
                        <p class="form-text alert-hide">Obligatorio</p>
                    </div>
                    <!-- input Precio -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Precio</label>
                         <input type="text" class="form-control" id="price" name="price" placeholder="Precio del Producto"/>
                         <p class="form-text alert-hide">Obligatorio</p>
                     </div>
                    <button type="submit" class="btn btn-outline-dark" name="send">Crear Producto</button>
                </form>
                <div>
                    <p class="text-danger">
                        <%= locals.msg && msg %>
                    </p>
                </div>
            </div>
        </div>
        </main>
        <%- include('../partials/footer') %>
</body>
</html>